.feedback-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.feedback-list .boxes {
    height: 30vh;
    background: white;
    padding-left: 20px;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid gray;
}

.feedback-list .boxes h6 {
    float: right;
    margin-top: -20px;
}

body {
    color: black;
}

#feedback {
    padding-bottom: 80px;
}

.message{
    margin-top: 20px;
    font-weight: bold;
}