

#contents {
  margin-right: 1rem;
  width: 100% !important;
  align-items: center;
}

button {
  width: 30%;
  margin-top: 1rem;
  background-color: white;
  border: dashed 1px black;
  border-radius: 10px;
}
