/* #sevices {
    padding: 30px 20px;
    color: white;
} */

.finance-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    /* display: flex; */
}

.finance-list div {
    background: white;
    padding-left: 20px;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.6s, transform 0.6s;
    box-shadow: 1px 1px 5px 0px #232323;
}
body {
    /* background: #080808; */
    color: black;
}

.finance-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.finance-list div a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.finance-list div:hover {
    background: #1687A7;
    transform: translateY(-10px);
}
#finance{
    padding-bottom: 80px;
}
.container h1{
    display: flex;
    justify-content: center;
}