* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.background-time {
  background-color: #f6f5f5;
}

.timeline {
  padding: 0px 100px;
  position: relative;
  width: 100%;
}
.timeline li.active,
.timeline li:hover{
  color: dodgerblue;
}
.timeline li:after{
  content:"";
  display: block;
  width: 5px;
  height: 5px;
  background: #777;
  margin: auto;
  border: 10px solid white;
  border-radius: 50%;
  margin-top: 10px; /*20px*/
  box-shadow: 0 2px 13px 1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
  position: absolute;
  top: 85px;
  left: 65px;
}
.timeline li:hover:after{
  background: #1687A7;
}
.timeline li.active:after{
  background: #1687A7;
}
.timeline #line{
  width: 90%;
  margin: auto;
  background: #eee;
  height: 5px;
  position: absolute;
  left: 5%;
  top: 80px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}
/* .timeline #line-process{
  content: "";
  width: 3%;
  height: 100%;
  background: deepskyblue;
  background: linear-gradient(to right, deepskyblue 0%, #2afae3 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
  padding-bottom: 20px;
} */

.timeline {
  padding: 0px 100px;
  position: relative;
  width: 100%;
}

.timeline ul li {
  position: relative;
  width: 50%;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 76%;
  width: 4px;
  background-color: #276678;
  left: 50%;
  top: 10%;
  /* bottom: 20%; */
  /* bottom: 100%; */
}

.timeline ul li:nth-child(odd) {
  float: left;
  /* text-align: right; */
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  /* text-align: left; */
  clear: both;
}

.timeline ul li:nth-child(odd) .content {
  margin-right: 100px;
}

.timeline ul li:nth-child(even) .content {
  margin-left: 100px;
}

.timeline ul::after {
  content: "";
  display: table;
  clear: both;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #1687a7;
  border-radius: 50%;

  right: -13px;
  /* this left is the negative of total width of this width of timline ::before */
  top: 27%;
  transform: translate(0%, -50%);
  border: 4px solid #d3e0ea;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #1687a7;
  border-radius: 50%;
  left: -7px;
  /* this left is the negative of total width of this width of timline ::before  */
  top: 50%;
  transform: translate(0%, -50%);
  border: 4px solid #d3e0ea;
}

.content {
  padding: 60px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px #276678;
}

.content .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .detail .title {
  font-size: 22px;
  font-weight: 600;
}

.content .center {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 10px; */
}

.content .bottom {
  padding-top: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.content .bottom button {
  text-decoration: none;
  background-color: #1687a7;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
}

<<<<<<< HEAD .content .center img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* padding-right: 10px; */
}

.content .center p {
  padding-left: 10px;
}
