<!DOCTYPE html>
<html>
    <head>
        <title>CONTACT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/contact.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <%- include('./_partials/navbar_2') %> 

        <div class="container py-5">
            <div class="box">
             <div class="row">
                 <div class="col-md-12 py-3 text-center">
                     <h3>ABOUT US</h3>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                      <ol style="list-style: circle;" class="px-3">
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, numquam? Aperiam, quos rem? Eligendi magni ullam accusamus harum ut, odit suscipit error praesentium est alias pariatur doloribus incidunt dicta earum velit dolore hic rem distinctio blanditiis quam, aliquid minima corrupti aperiam! Necessitatibus culpa quasi asperiores alias voluptates! Libero, sed nesciunt!</li>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, numquam? Aperiam, quos rem? Eligendi magni ullam accusamus harum ut, odit suscipit error praesentium est alias pariatur doloribus incidunt dicta earum velit dolore hic rem distinctio blanditiis quam, aliquid minima corrupti aperiam! Necessitatibus culpa quasi asperiores alias voluptates! Libero, sed nesciunt!</li>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, numquam? Aperiam, quos rem? Eligendi magni ullam accusamus harum ut, odit suscipit error praesentium est alias pariatur doloribus incidunt dicta earum velit dolore hic rem distinctio blanditiis quam, aliquid minima corrupti aperiam! Necessitatibus culpa quasi asperiores alias voluptates! Libero, sed nesciunt!</li>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, numquam? Aperiam, quos rem? Eligendi magni ullam accusamus harum ut, odit suscipit error praesentium est alias pariatur doloribus incidunt dicta earum velit dolore hic rem distinctio blanditiis quam, aliquid minima corrupti aperiam! Necessitatibus culpa quasi asperiores alias voluptates! Libero, sed nesciunt!</li>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, numquam? Aperiam, quos rem? Eligendi magni ullam accusamus harum ut, odit suscipit error praesentium est alias pariatur doloribus incidunt dicta earum velit dolore hic rem distinctio blanditiis quam, aliquid minima corrupti aperiam! Necessitatibus culpa quasi asperiores alias voluptates! Libero, sed nesciunt!</li>
                      </ol>
                 </div>
             </div>
            </div>
        </div>
      

        <%- include('./_partials/footer') %>

    </body>
</html>