<!DOCTYPE html>
<html>
    <head>
        <title>CONTACT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/contact.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <%- include('./_partials/navbar_2') %> 
        <% if(isAuthenticated){ %>
            <script>
              document.querySelector('.login-nav').innerText = "DASHBOARD";
            </script>
            <% } %>
        <div class="edit_about">
        <div class="container py-5">
            <div class="box">
             <div class="row">
                 <div class="col-md-12 py-3 text-center">
                     <h1 style="color: #1687A7; text-shadow: 1px 1px 2px grey;">ABOUT US</h1>
                 </div>
             </div>
             <div class="row" style="color: #1687A7;">
                 <div class="col-md-12">
                     <p><strong style="font-size: 30px;">CoreExperts</strong> is fundamentally a start-up management company, providing several functions for
                        managing your start up for different various daily activities that are carried out. May it be financial or
                        non-financial data, team count, user insights etc. record, manage, analyze and approach your data
                        anytime, anywhere with your team mates and pace up your start up growth with us.
                        In our additional functionalities we provide assistance starting from start-up to pitching your investors,
                        guidance service is provided by our side through the gateway of our website (coreexpert.in).
                        
                        There are certain barriers that are faced by startups, and we are honored to solve them</p>
                      <ol style="list-style: circle;" class="px-3">
                        <li><strong>Analysis</strong>: typically new emerging startups often face the difficulties in performing the analytical observation, through our fundamental service in which the user by our website can conduct their analytical examination with ease and no complications.
                            <ol style="padding-left: 30px;">
                                <li>Financial data records and analytical graphs</li>
                                <li>Non financial data analytical and graphs</li>
                                <li>Observations and drawing conclusions by analyzing the graphs constructed.</li>
                            </ol>
                        </li>
                        <li><strong>Post alerts</strong>:startups can easily and conveniently find and approach eligible and talented candidates for job openings and build up their team. </li>
                        <li><strong>Milestones records</strong>: record your appreciations and achievements as well as display it in your timeline graphically.</li>
                        <li><strong>Display start up on our website</strong>:present your startup account with us, moving closer little by little to your consumer targeted market, investors and mentors. </li>
                        <li><strong>With many other </strong>startups, mentors, CAs through our gateway</li>
                        <li><strong>Your (startup) product and services </strong>by displaying it on our website, showing it to your targeted customers through us and let us grow with you.</li>
                    </ol>
                 </div>
             </div>
            </div>
        </div>
        </div>
      

        <%- include('./_partials/footer') %>

    </body>
</html>