<!DOCTYPE html>
<html>

<head>
    <title>CONTACT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('./_partials/navbar_2') %>
        <% if(isAuthenticated){ %>
            <script>
                document.querySelector('.login-nav').innerText = "DASHBOARD";
            </script>
            <% } %>

                <!-- ######################################### CONTACT FORM ################################## -->
                <div class="container   mt-5 mb-5">
                    <div class="row shadowborder">
                        <div class="col-md-6 box1 ">
                            <div class="box  mx-sm-4 my-4">
                                <h2 class="mb-5 text-center">Contact Us</h2>
                                <form action="/contact" method="POST">
                                    <label for="name" class="mb-0 ml-0 star d-block">FULL NAME</label>
                                    <input type="text" name="p_name" id="name" placeholder="Full Name" class="p-1 outline" required>
                                    <br><br>

                                    <label for="phone" class="mb-0 ml-0 star d-block">CONTACT</label>
                                    <input type="number" name="p_phone" id="phone" placeholder="Phone" class="p-1 outline" required>
                                    <br><br>

                                    <label for="email" class="mb-0 ml-0 star d-block">EMAIL ADDRESS</label>
                                    <input type="text" id="email" name="p_email" placeholder="Email" class="p-1 outline" required>
                                    <br><br>


                                    <label for="message" class="mb-0 ml-0 star">MESSAGE</label><br>
                                    <textarea id="message" name="p_msg" cols="25" rows="6" class="text-area" placeholder="Message"></textarea><br><br>
                                    
                                    <input type="submit">

                                </form>
                            </div>

                        </div>
                        <div class="col-md-6 py-3 pb-0 box2 ">
                            <p><iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21054.634635704693!2d79.91501185012395!3d23.148012065830525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981ade412be281d%3A0x7217bac5a6c65211!2sArthGoal!5e0!3m2!1sen!2sin!4v1615878113601!5m2!1sen!2sin"
                                    width="100%" height="590px" style="border:0;" allowfullscreen="" loading="lazy"
                                    class="mapbox"></iframe></p>
                        </div>
                    </div>
                    <div class="row shadowborder pt-4 mt-5">
                        <div class="col-md-3   text-center">
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <!-- <p><span>Address: </span>Jabalpur , Madhaya Pradesh</p> -->
                            <p>Address: <span class="text-primary">Jabalpur, M.P</span></p>
                        </div>
                        <div class="col-md-3  text-center">
                            <i class="fas fa-phone-alt fa-2x"></i>
                            <p>Phone: <span class="text-primary">+91 7693944152</span></p>
                        </div>
                        <div class="col-md-3  text-center">
                            <i class="fas fa-envelope fa-2x"></i>
                            <p>Email:<span class="text-primary">versitile@arthgoal.com</span></p>
                        </div>
                        <div class="col-md-3  text-center ">
                            <i class="fas fa-globe-americas fa-2x"></i>
                            <p>Website:<span class="text-primary">arthgoal.com</span></p>
                        </div>
                    </div>
                </div>

                <%- include('./_partials/footer') %>

</body>

</html>