<!DOCTYPE html>
<html>

<head>
    <title>Startup Finacials</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/financial-projections.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/financials.css">
    <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

  <%- include('./_partials/navbar_2') %>
  <% if(isAuthenticated){ %>
    <script>
      document.querySelector('.login-nav').innerText = "DASHBOARD";
    </script>
  <% } %>

  <div class="financials">
      
    <form action="" id="fin-form">
        
      <table style="width:50%" id="collapsee">
                        <tr>
                          <th>Key Financials (in INR Lakhs)
                        </th>
                          <th>FYXX     (Proj.)
                        </th>
                          <th>FYXX <br> (Proj.)
                        </th>
                          <th>FYXX <br>(Proj.)
                        </th>
                        </tr>
                        <tr>
                          <td>Net Rev/FPO
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>CAC/Farmer (INR)
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Total Revenue
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>% Growth
            
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Direct Cost Breakup
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Gross Margin
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>% of Revenue
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">Founders
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">Tech Team
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">Sales
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">Sr Mgt
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">OPS
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">FINANCE
            
                          </td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">CREDIT
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td align="right">OUTSOURCED
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Marketing
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Office & Tech infra
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Rentals, Travel & Other expenses
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>Total Expenses
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>EBIDTA
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                        <tr>
                          <td>% of Revenue
                          </td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                          <td class="txt"><input type="text"></td>
                        </tr>
                       
      </table>
                
      <div style="width: 100%; text-align: center;">
        <input id="button" type="button" value="Submit" onclick="sub()">
      </div>
                
    </form>
      
  </div>
            
            
  <script>
    function sub() {
      alert("Submitted Suscessfully")
      document.getElementById("fin-form").submit();
    }
  </script>  


  <%- include('./_partials/footer') %>

</body>

</html>