<!DOCTYPE html>
<html>

<head>
    <title>Startup Finacials</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/financials.css">
    <script src="https://kit.fontawesome.com/af3eeee1f8.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('./_partials/navbar_2') %>
        <% if(isAuthenticated){ %>
            <script>
                document.querySelector('.login-nav').innerText = "DASHBOARD";
            </script>
            <% } %>

                <div class="edit_about">
                    <div class="container py-5">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-12 py-3 text-center">
                                    <h1 style="color: #1687A7; text-shadow: 1px 1px 2px grey;">Prepare for Investor
                                        Questions with Data</h1>
                                </div>
                            </div>
                            <div class="row" style="color: #1687A7;">
                                <div class="col-md-12">
                                    <ol style="list-style: circle;" class="px-3">
                                        <li><strong>Market potential of a company's product or service offering(s),
                                                revenue potential for the industry, and its growth rate.</strong><br>
                                            Is the opportunity is large enough to pursue. Size of the opportunity
                                            determines whether the investor will receive a healthy return within a
                                            designated timeframe (often three to five years).
                                        </li><br>
                                        <li><strong>Calculation of market potential, industry sales and growth
                                                rate.</strong><br>
                                            Market potential estimates be supported by independent
                                            research as well as bottom-up or top-down calculations. Some Angels will
                                            have domain expertise and will be able to quickly assess an entrepreneur's
                                            figures.
                                            their team.</li><br>
                                        <li><strong>Uniqueness of the business</strong><br>
                                            Is it a unique business in a mature industry? Or a revolutionary product
                                            that requires educating customers? Both these questions identify challenges
                                            of the startup, will it face a price competitiveness or take too long to
                                            create a market?</li><br>
                                        <li><strong>Understanding of consumer choice behavior. Why customers will "need"
                                                to purchase the product or service? What specific needs does it
                                                address?</strong><br>This underlies how a product will gain traction,
                                            customers will demand it based on market trends.</li><br>
                                        <li><strong>Growth potential of the business.</strong><br>Investors like a large
                                            growth opportunity that scales quickly. Explain how revenues are estimated
                                            from market potential.
                                        </li><br>
                                        <li><strong>Why the management team is exceptional to deliver the
                                                opportunity?</strong><br>Investors look for the following knowledge and
                                            the person(s):
                                            <ol style="padding-left: 30px;">
                                                <li>Experience of building a startup,</li>
                                                <li>Industry experience (or with the product),</li>
                                                <li>Humility to learn,</li>
                                                <li>Energy or passion for what they are doing,</li>
                                                <li>Resourcefulness,</li>
                                                <li>Integrity,</li>
                                                <li>Perseverance,</li>
                                                <li>Risk-taking ability.</li>
                                            </ol>
                                        </li><br>
                                        <li><strong>Risks of the opportunity.</strong><br>
                                            <ol style="padding-left: 30px;">
                                                <li>Competition</li>
                                                <li>Changes or shifts in technology,</li>
                                                <li>Governmental and regulatory policies,</li>
                                                <li>Access to people</li>
                                                <li>Product risk</li>
                                            </ol>
                                        </li><br>
                                        <li><strong>Risks of the investment.</strong><br>What happens if current capital
                                            raise requires a next financing event and that gets
                                            delayed?

                                        </li><br>
                                        <li><strong>Competitors.</strong><br>The extent of competition in the business,
                                            positioning and differentiation, both on the supply and demand side. Angels
                                            with domain experience will be able to ascertain the depth of market
                                            understanding.
                                        </li><br>
                                        <li><strong>Competitive advantage.</strong><br>Ability to reach the target
                                            market in a manner that is more effective than the competition. What is
                                            unique that gives the startup an edge? "First-mover advantage" is rarely a
                                            competitive advantage.
                                        </li><br>
                                        <li><strong>Intellectual property- patents, trademarks, copyrights,
                                                etc.</strong><br>IP assets of the startup. These are industry specific.
                                            This
                                            is an important part of the due diligence process (non-disclosure
                                            agreements, non-competes and/or employment agreements) to ensure that the
                                            startup has taken steps to protecting its intellectual capital.
                                        </li><br>
                                        <li><strong>Customer acquisition strategy and metrics.</strong><br>A tested and
                                            validated go-to-market strategy. What is the customer acquisition costs?
                                            Average and target revenue per customer? Customers are required to break
                                            even. Do you know the product sales cycle and cash cycle? And so on.
                                        </li><br>
                                        <li><strong>Customer retention strategy or reducing churn.</strong><br>
                                            The heart of growth. Knowledge of what is important to customers. How the
                                            product will be
                                            supported and the costs of providing support. Does the product require
                                            repurchase, will existing customers buy again, or service again and
                                            recommend it to others?
                                        </li><br>
                                        <li><strong>Unit economics, Time to profitability and cash flow.</strong><br>
                                            Growth preempts profitability because the goal is to reach an exit milestone
                                            quickly.
                                        </li><br>
                                        <li><strong>Alliances or partnerships like marketing alliances, licensing
                                                arrangements, selling/distribution agreements, channel partnerships,
                                                software agreements, etc.).</strong><br>Demonstrate how alliances may
                                            have
                                            helped distribution or sales channels for your products and services. Do the
                                            alliances create a competitive advantage, help you reach customers more
                                            efficiently, or create barriers to entry?
                                        </li><br>
                                        <li><strong>What the management team still has to learn to make the startup
                                                work?</strong><br>This demonstrates the humility and candidness in
                                            asking
                                            for support from the investors.
                                        </li><br>
                                        <li><strong>Key hires by when.</strong><br>The plan to fill key positions now
                                            and in
                                            the future. Plans of compensating people, attract, motivate, and retain
                                            employees while keeping labor costs under control.
                                        </li><br>
                                        <li><strong>Probable exit options.</strong><br>When will investors monetize
                                            their
                                            investment?
                                        </li><br>
                                        <li><strong>Use of the capital.</strong><br>A timeline of milestones targeted,
                                            how
                                            capital will be deployed and what it will allow you to accomplish.
                                        </li><br>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <%- include('./_partials/footer') %>

</body>

</html>