<link rel="stylesheet" href="/css/footer.css" />

<div class="fluid-container footer__container" style="background-color: #1687A7; color: #fff">
  <div class="container py-2">
    <div class="row d-flex flex-column justify-content-center">
      <h3 class="text-center">You can find us at</h3>
      <div
        class="icons mt-3 text-center d-flex justify-content-around mx-auto"
      >
        <a class="icon-class" href="#"><i class="fab facebook fa-facebook-f fa-2x"></i></a>
        <a class="icon-class" href="#"><i class="fab twitter fa-twitter fa-2x"></i></a>
        <a class="icon-class" href="#"><i class="fab linkedin fa-linkedin-in fa-2x"></i></a>
        <a class="icon-class" href="https://www.instagram.com/startup_jabalpur"><i class="fab instagram fa-instagram fa-2x"></i></a>
      </div>
    </div>

    <div class="my-5 d-flex flex-wrap justify-content-between">
      <div class="mx-auto my-1 text-center">
        <h4>Useful Links</h4>
        <ul class="new__footer text-center d-flex flex-column" style="list-style: none">
          <li><a href="/"> Home </a></li>
          <li><a href="/about"> About </a></li>
          <li><a href="/contact"> Contact </a></li>
        </ul>
      </div>
      <div class="mx-auto my-1 text-center">
        <h4>Startups & Jobs</h4>
        <ul class="new__footer text-center d-flex flex-column" style="list-style: none">
          <li><a href="/getdata/startups"> Startups </a></li>
          <li><a href="/getdata/jobalerts"> Jobs </a></li>
        </ul>
      </div>
      <div class="mx-auto my-1 text-center">
        <h4>Products</h4>
        <ul class="new__footer text-center d-flex flex-column" style="list-style: none">
          <li><a href="https://play.google.com/store/apps/details?id=com.createwealth.trader"> QuickTrades </a></li>
        </ul>
      </div>
    </div>

    <h6 class="text-center">Copyright 2021 All Rights Reserved</h6>
  </div>
</div>
