<link rel="stylesheet" href="/css/navbar1.css" />


<nav class="new__parent-navbar">
  <div class="new__logo">
    <a href="/getdata/startups" class="logo-link"><h1 class="mb-0"><b>STARTUPPRO</b></h1></a>
  </div>

  <div class="new__navbar h-nav">
    <ul class="new__nav-list v-class mb-0">
      <h4 class="mb-0">
        <li class="mb-0"><a href="/getdata/startups">HOME</a></li>
      </h4>
      <h4 class="mb-0">
        <li class="mb-0"><a href="/about">ABOUT</a></li>
      </h4>
      <h4 class="mb-0">
        <li class="mb-0"><a href="/contact">CONTACT US</a></li>
      </h4>
      
      <h4 class="mb-0">
        <li class="mb-0"><a href="/getdata/jobalerts">JOBS</a></li>
      </h4>
      <!-- <h4 class="mb-0">
        <li class="mb-0"><a href="/login/startup" class="login-nav"> LOGIN</a></li>
      </h4> -->
    </ul>
    <h4 class="mb-0">
      <!-- <div><a href="/login/startup" class="signupbut"> Signup</a></div> -->
      <a href="/login/startup"><input type="button" value="LOGIN" class="sign"></a>
    </h4>
  </div>
  <br>
<br>
  <!-- <div class="rightNav v-class">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">SEARCH</button>
            <h1>rightnav</h1>
        </div> -->

  <div class="new__burger">
    <div class="new__line"></div>
    <div class="new__line"></div>
    <div class="new__line"></div>
  </div>
</nav>

<script>
  burger = document.querySelector(".new__burger");
  navbar = document.querySelector(".new__navbar");
  // rightNav = document.querySelector('.rightNav')
  navlist = document.querySelector(".new__nav-list");
  black = document.querySelector(".b-black");

  burger.addEventListener("click", () => {
    navbar.classList.toggle("h-nav");
    //  rightNav.classList.toggle('v-class');
    navlist.classList.toggle("v-class");
    navbar.classList.toggle("b-black");
  });
  /* --------------------------------   Rachit Gupta */

  window.addEventListener("scroll",function(){
      let header = document.querySelector("nav");
      header.classList.toggle("sticky", window.scrollY > 0);
    });

    /* -------------------------------  End  */
</script>
